[v-cloak] {
  display: none;
}

#add-header-button {
  margin-bottom: 19px;
  margin-top: 13px;
}

.header-settings {
  padding-bottom: 2px;
  padding-top: 2px;
}

.v-menu__content {
  max-height: calc(100vh - 58px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.theme--light ::-webkit-scrollbar-track {
  background: #ffffff;
}

.theme--light ::-webkit-scrollbar-thumb {
  background: #757575;
}

html.theme--light > body::-webkit-scrollbar-track {
  background: linear-gradient(#ffffff, #ffffff 48px, #fafafa 48px, #fafafa);
}

.theme--dark ::-webkit-scrollbar-track {
  background: #424242;
}

.theme--dark ::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

html.theme--dark > body::-webkit-scrollbar-track {
  background: linear-gradient(#424242, #424242 48px, #303030 48px, #303030);
}
