[v-cloak] {
  display: none;
}

#add-header-button {
  margin-bottom: 19px;
  margin-top: 13px;
}

.header-settings {
  padding-bottom: 2px;
  padding-top: 2px;
}

.v-menu__content {
  max-height: calc(100vh - 58px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, .4);
  border-radius: 3px;
}

::-webkit-scrollbar-track{
  background: white;
}
