#add-header-button {
  margin-bottom: 18px;
  margin-top: 13px;
}

@media (min-width: 960px) and (max-width: 1315px) {
  #add-header-button {
    margin-bottom: 26px;
    margin-top: 21px;
  }
}

@media (max-width: 1081px) {
  header {
    height: 55px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.v-menu__content {
  max-height: calc(100vh - 58px);
}

.v-input--dense > .v-input__control > .v-input__slot > .v-select__slot > input {
  padding-top: 8px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.theme--light ::-webkit-scrollbar-track {
  background: #ffffff;
}

.theme--light ::-webkit-scrollbar-thumb {
  background: #757575;
}

.theme--light header::-webkit-scrollbar-track {
  background: #f5f5f5;
}

html.theme--light > body::-webkit-scrollbar-track {
  background: linear-gradient(#f5f5f5, #f5f5f5 48px, #ffffff 48px, #ffffff);
}

.theme--dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.theme--dark ::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

.theme--dark header::-webkit-scrollbar-track {
  background: #272727;
}

html.theme--dark > body::-webkit-scrollbar-track {
  background: linear-gradient(#272727, #272727 48px, #121212 48px, #121212);
}
