<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Vue.js -->
    <link rel="stylesheet" type="text/css" href="css/vuejs/vuetify.min.css" />
    <!-- HackBar -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <v-app>
        <v-toolbar app dense flat>
          <v-btn flat @click="loadUrl()">Load URL</v-btn>
          <v-btn flat @click="splitUrl()">Split URL</v-btn>
          <v-btn flat @click="executeUrl()">Execute URL</v-btn>
          <v-menu offset-y>
            <v-btn flat slot="activator">SQLi</v-btn>
            <v-list dense>
              <v-menu offset-x full-width open-on-hover>
                <v-list-tile slot="activator" @click=""> 
                  <v-list-tile-title>MySQL</v-list-tile-title>
                  <v-list-tile-action class="justify-end">
                    <v-icon>play_arrow</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
                <v-list dense>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.MySQL.dumpDatabases')">
                    <v-list-tile-title>Dump all database names</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.MySQL.dumpTables')">
                    <v-list-tile-title>Dump tables from database</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.MySQL.dumpColumns')">
                    <v-list-tile-title>Dump columns from database</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.MySQL.unionSelect')">
                    <v-list-tile-title>Union select statement</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="applyFunction('Payload.SQLi.MySQL.errorBased', true)">
                    <v-list-tile-title>Error-based injection statement</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <v-menu offset-x full-width open-on-hover>
                <v-list-tile slot="activator" @click=""> 
                  <v-list-tile-title>PostgreSQL</v-list-tile-title>
                  <v-list-tile-action class="justify-end">
                    <v-icon>play_arrow</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
                <v-list dense>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.PostgreSQL.dumpDatabases')">
                    <v-list-tile-title>Dump all database names</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.PostgreSQL.dumpTables')">
                    <v-list-tile-title>Dump tables from database</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.PostgreSQL.dumpColumns')">
                    <v-list-tile-title>Dump columns from database</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="promptThenApplyFunction('Payload.SQLi.PostgreSQL.unionSelect')">
                    <v-list-tile-title>Union select statement</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <v-list-tile @click="applyFunction('Payload.SQLi.spaceToComment')">
                <v-list-tile-title>Space to Inline comment</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-menu offset-y>
            <v-btn flat slot="activator">XSS</v-btn>
            <v-list dense>
              <v-list-tile @click="applyFunction('Encode.Html.encode')">
                <v-list-tile-title>Html encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.Html.decode')">
                <v-list-tile-title>Html decode</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile @click="applyFunction('Encode.CharCode.encode')">
                <v-list-tile-title>String.fromCharCode encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.CharCode.decode')">
                <v-list-tile-title>String.fromCharCode decode</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-menu offset-y>
            <v-btn flat slot="activator">LFI</v-btn>
            <v-list dense>
              <v-list-tile @click="applyFunction('Payload.LFI.phpWrapperBas64', true)">
                <v-list-tile-title>PHP wrapper - Base64</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-menu offset-y>
            <v-btn flat slot="activator">Encoding</v-btn>
            <v-list dense>
              <v-list-tile @click="applyFunction('Encode.URL.encode')">
                <v-list-tile-title>URL encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.URL.decode')">
                <v-list-tile-title>URL decode</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile @click="applyFunction('Encode.Base64.encode')">
                <v-list-tile-title>Base64 encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.Base64.decode')">
                <v-list-tile-title>Base64 decode</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile @click="applyFunction('Encode.Hexadecimal.encode')">
                <v-list-tile-title>Hexadecimal encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.Hexadecimal.decode')">
                <v-list-tile-title>Hexadecimal decode</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile @click="applyFunction('Encode.Unicode.encode')">
                <v-list-tile-title>Unicode encode</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Encode.Unicode.decode')">
                <v-list-tile-title>Unicode decode</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-menu offset-y>
            <v-btn flat slot="activator">Hashing</v-btn>
            <v-list dense>
              <v-list-tile @click="applyFunction('Hash.MD5.digest')">
                <v-list-tile-title>MD5</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Hash.SHA1.digest')">
                <v-list-tile-title>SHA1</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Hash.SHA256.digest')">
                <v-list-tile-title>SHA256</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="applyFunction('Hash.SHA512.digest')">
                <v-list-tile-title>SHA512</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar>
        <v-content>
          <v-container fluid>
            <v-textarea label="URL" rows="1" ref="url" auto-grow v-model="request.url" @focus="onFocus($event)"></v-textarea>
            <v-layout row>
              <v-flex md6>
                <v-layout align-center>
                  <v-switch label="Enable POST" v-model="request.body.enabled"></v-switch>
                  <v-spacer></v-spacer>
                  <v-select v-model="request.body.enctype" :items="['application/x-www-form-urlencoded', 'multipart/form-data']" label="enctype" v-show="request.body.enabled" dense offset-y></v-select>
                </v-layout>
                <v-textarea label="Body" rows="1" auto-grow v-show="request.body.enabled" v-model="request.body.content" @focus="onFocus($event)"></v-textarea>
              </v-flex>
              <v-flex md6>
                <v-btn class="ctrl-btn" @click="addHeader()">Add Header</v-btn>
                <v-layout align-center v-for="(header, index) in request.headers" :key="index">
                  <v-checkbox class="shrink" v-model="header.enabled"></v-checkbox>
                  <v-text-field label="Name" class="px-1" v-model="header.name" @focus="onFocus($event)"></v-text-field>
                  <v-text-field label="Value" class="px-1" v-model="header.value" @focus="onFocus($event)"></v-text-field>
                  <v-btn icon flat @click="deleteHeader(index)">
                    <v-icon>clear</v-icon>
                  </v-btn>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
        <v-dialog max-width="35%" v-model="reloadDialog">
          <v-card>
            <v-card-title class="headline">
              Unable to fetch request information
            </v-card-title>
            <v-card-text class="body-1">
              After installing extension, reloading the tab is required to let
              HackBar record the request.
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="reloadDialog = false">OK</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog max-width="35%" persistent v-model="promptDialog.show">
          <v-form @submit.prevent="promptDialog.show = false; applyFunction(promptDialog.func, true, promptDialog.value)" v-model="promptDialog.valid">
            <v-card>
              <v-card-title class="headline">
                HackBar
              </v-card-title>
              <v-card-text class="body-1">
                <p>Please enter the number of columns:</p>
                <v-text-field required ref="promptInput" :rules="[v => /^[0-9]+$/.test(v) || 'Invalid input']" v-model="promptDialog.value"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="promptDialog.show = false">Cancel</v-btn>
                <v-btn flat type="submit" :disabled="!promptDialog.valid">OK</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
        <v-snackbar v-model="snackbar.show" color="error" timeout="3000" bottom>
          {{ snackbar.text }}
          <v-btn @click="snackbar.show = false" dark flat>Close</v-btn>
        </v-snackbar>
      </v-app>
    </div>

    <!-- Vue.js Libraries -->
    <script src="scripts/vuejs/vue.min.js" type="text/javascript"></script>
    <script src="scripts/vuejs/vuetify.min.js" type="text/javascript"></script>
    <!-- HackBar -->
    <script src="scripts/thirdparty/utf8.js" type="text/javascript"></script>
    <script src="scripts/thirdparty/jshashes.min.js" type="text/javascript"></script>
    <script src="scripts/lib/payload.js" type="text/javascript"></script>
    <script src="scripts/lib/encode.js" type="text/javascript"></script>
    <script src="scripts/lib/hash.js" type="text/javascript"></script>
    <script src="scripts/index.js" type="text/javascript"></script>
  </body>
</html>
