@use './variables' as *;

// See also: https://github.com/vuetifyjs/vuetify/issues/15614
.v-combobox .v-combobox__selection-text {
  @include ellipsis;
}

.v-dialog .v-overlay__content {
  width: calc(100% - 48px);
}

.v-btn .v-btn__append {
  margin-left: 0;
}

.v-tooltip .v-overlay__content {
  background: rgba(var(--v-theme-surface-variant), 0.95);
}
