on:
  push:
    tags:
      - 'v*'

name: Publish Release

jobs:
  build:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Prepare environment variables
        uses: actions/github-script@v6
        with:
          script: |
            const ref = '${{ github.ref }}'

            const isPrerelease = /beta/.test(ref)

            core.exportVariable('IS_PRERELEASE', isPrerelease)
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16'
      - name: Install dependencies
        run: |
          if ! yarn install; then
            cat /tmp/xfs-*/buildfile.log 2>/dev/null || true
            exit 1
          fi
      - name: Pack extension
        run: |
          yarn dist:chrome
          yarn dist:firefox
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ env.IS_PRERELEASE }}
          files: |
            HackBar-chrome.zip
            HackBar-firefox.zip
