on: [push, pull_request]

name: Test build

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: |
          if ! yarn install; then
            cat /tmp/xfs-*/buildfile.log 2>/dev/null || true
            exit 1
          fi
      - name: Lint
        run: yarn lint
      - name: Check types
        run: yarn types:check
      - name: Build
        run: yarn build:chrome
