on: [push, pull_request]

name: Test build

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Check types
        run: yarn types:check
      - name: Build
        run: yarn build
